resource_group_name = "rg-dpb-prod-network"
location            = "westeurope"
vnet_name           = "vnet-dpb-prod-core"
address_space       = ["10.42.0.0/16"]

subnets = {
  snet-databricks-public = {
    address_prefixes = ["10.42.1.0/24"]
  }
  snet-databricks-private = {
    address_prefixes = ["10.42.2.0/24"]
  }
}

tags = {
  environment = "prod"
  platform    = "dataplatform-beta"
}
